
services:
  backend:
    build: ./backend
    env_file:
      - ./.env
    ports:
      - "8001:8001"
    environment:
      - MONGO_URL=mongodb://mongo:27017/mediconnect
      - SECRET_KEY=${SECRET_KEY}
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_BACKEND_URL=http://localhost:8001

  mongo:
    image: mongo:6
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo_data:

# Note: The backend service is configured to connect to the MongoDB service using the hostname 'mongo', which is the name of the MongoDB service defined in this docker-compose file.